<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="FootBall API">
        <parameter name="api" value="football"/>
        <classes>
            <class name="com.example.testscenarios.FootBallTestScenarios"/>
        </classes>
    </test>

    <test verbose="5" preserve-order="true" name="ReqRes API">
        <parameter name="api" value="ReqRes"/>
        <classes>
            <class name="com.example.testscenarios.ReqResTestScenarios"/>
        </classes>
    </test>

</suite>